@media(max-width: 1230px) {

  /* BURGER SETTINGS START */
  .burger {
    display: flex;

  }

  .header__nav {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    overflow: scroll;
    height: 100%;
    margin-top: 99px;
    margin-bottom: 50px;
    padding: 20px 30px;
    box-shadow: 14px 22px 40px 0 rgba(30, 35, 66, 0.28);
    background-color: #363a4d;
    row-gap: 40px;
    animation: burgerAnimation 0.4s;
  }

  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


  .header__nav-list {
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
  }

  /* BURGER SETTINGS ENDS */

  .swiper-slide-1,
  .swiper-slide-2,
  .swiper-slide-3,
  .swiper-slide-4 {
    background-position: right;
  }

  .hero__container {
    padding: 0;
  }

  .swiper {
    border-radius: 0;
  }

  .delivery__swiper {
    width: 100%;
    overflow: hidden;
  }

  .delivery-swiper {
    padding: 0;
  }

  .services__inner {
    width: 100%;
    overflow: hidden;
  }

  .about__left {
    max-width: unset;
  }

  .partnership__inner-top,
  .partnership__inner-bottom {
    flex-wrap: wrap;
  }

  .partnership__inner-top {
    flex-direction: column-reverse;
  }

  .partnership__top--text,
  .partnership__bottom--text {
    max-width: unset;
    font-size: 16px;
    line-height: 150%;
  }

}

@media(max-width: 1120px) {
  .swiper-arrows {
    display: none;
  }

  .hero__content {
    left: 26%;
  }



  .delivery-swiper-btns {
    padding-top: 10px;
    justify-content: start;
  }
}

@media(max-width: 1040px) {
  .calculate-right {
    display: none;
  }

  .section__title {
    font-size: 24px;
    line-height: 125%;
    max-width: 335px;
    padding-bottom: 23px;
    margin: 0 auto 49px auto;
  }

  .calculate__title::after {
    bottom: 0;
    right: 37%;
  }

  .calculate__inner {
    justify-content: center;
  }

  .calculate-figures {
    left: unset;
  }

  .about__title {
    margin: 0 auto 50px auto;
    text-align: center;
    padding-bottom: 22px;
  }

  .about__title::after {
    left: 37%;
  }
}

@media(max-width: 900px) {
  .hero__content {
    max-width: 335px;
    width: 100%;
    text-align: center;
  }

  .hro__title {
    font-size: 32px;
    margin: 0 auto 10px auto;
    line-height: 126%;
  }

  .hero__descr {
    max-width: 269px;
    margin: 0 auto 18px auto;
    font-size: 16px;
    line-height: 136%;
  }

  .hero__link-media {
    margin: 0 auto;
  }

  .choose__cards {
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 40px 20px;
  }

  .services-swiper {
    height: 500px;
  }

  .services__inner {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .services-btns-swiper {
    right: unset;
  }

  .footer__inner {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .footer__right {
    flex-direction: column;
    gap: 20px;
  }
}

@media(max-width: 650px) {
  .hero__content {
    left: 19%;
  }

  .form {
    max-width: 626px;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 30px;
  }

  .form-left,
  .form-right {
    max-width: 510px;
  }

  .calculate__form {
    height: 100%;
  }

  .form__bottom-attached {
    max-width: 626px;
    width: 100%;
  }

  .file__content {
    padding: 12px 0;
  }

  .choose__title {
    padding-top: 50px;
  }

  .choose__title::after {
    left: 37%;
  }

  .delivery__title::after {
    left: 37%;
  }

  .services__title::after {
    left: 37%;
  }

  .about__left-text--top,
  .about__left-text--bottom {
    font-size: 16px;
    line-height: 150%;
  }

  .faq {
    margin-bottom: 70px;
  }

  .partnership__title {
    margin-bottom: 0;
  }

  .partnership__inner {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .partnership__title-wrapper::after {
    left: 37%;
  }
}

@media(max-width: 460px) {
  .swiper-slide-1 {
    background: linear-gradient(121deg, rgba(4, 5, 17, 0.72) 0%, rgba(88, 88, 88, 0) 100%), url("../img/hero-bg-1-media.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
  }

  .swiper-slide-2 {
    background: linear-gradient(121deg, rgba(4, 5, 17, 0.72) 0%, rgba(88, 88, 88, 0) 100%), url("../img/hero-bg-2-media.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
  }

  .swiper-slide-3 {
    background: linear-gradient(121deg, rgba(4, 5, 17, 0.72) 0%, rgba(88, 88, 88, 0) 100%), url("../img/hero-bg-3-media.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
  }

  .swiper-slide-4 {
    background: linear-gradient(121deg, rgba(4, 5, 17, 0.72) 0%, rgba(88, 88, 88, 0) 100%), url("../img/hero-bg-4-media.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
  }

  .hero__content {
    left: 12%;
  }

  .calculate-figures {
    top: -2%;
  }

  .choose__cards {
    grid-template-columns: repeat(auto-fit, 155px);
    gap: 30px 10px;
    padding-bottom: 50px;
  }

  .choose__text {
    font-size: 10px;
  }

  .footer__left {
    text-align: center;
    max-width: unset;
    margin: 0 auto;
  }

  .footer__logo {
    text-align: center;
    margin: 0 auto 20px auto;
  }

  .footer__left-links {
    justify-content: center;
  }

  .footer__link {
    margin: 0 auto;
  }

  .footer__social-list {
    margin: 0 auto;
  }

  .footer__right {
    flex-direction: column;
    justify-content: center;
  }
}
